[BASIC]
good-names=i,j,k,x,s,r,t,p,_
bad-names=foo,bar,baz

# Make it so pylint doesn't complain about short functions(ie: tests) not having docstrings.
docstring-min-length=8

# no-docstring-rgx: test

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=96

# Annoying pylint msgs                                                                       
# C0325: Unnecessary parens after %r keyword   
# W0142: Used * or ** magic
# C0103: Invalid %s name "%s"
# R0903: Too few public methods (%s/%s)
# E1101: %s %r has no %r member
# E1103: %s %r has no %r member (but some types could not be inferred)
# C0301: Line too long (%s/%s)
# F0401: Unable to import %s
# E0611: No name %r in module %r
# R0904: Too many public methods (%s/%s)
# C901 'If 61' is too complex (13) [mccabe]  

[MESSAGES CONTROL]

disable=C901, C0103,C0301,C0325,W0142,R0903,E1101,E1103,F0401,E0611,R0904
